<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>espece</th> <th>Date de naissance</th> <th>groupe</th> </tr>
    <tbody *ngFor="let anim of animaux">
    <tr >
    <td>{{anim.idAnim}}</td>
    <td>{{anim.nomAnim}}</td>
    <td>{{anim.espece}}</td>
    <td>{{anim.dateNaissance | date:'dd/MM/yyyy'}}</td>
    <td>{{anim.groupe.nomGroupe}}</td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerAnimaux(anim)">Supprimer</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateanimaux',anim.idAnim]">Modifier</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
