
<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Animal</label>
        <input #nomAnimal [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
        </form> 
        
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>espece</th> <th>Date de naissance</th><th>Type</th> </tr>
    <tbody *ngFor="let animaux of Animaux  | searchFilter: searchTerm">
    <tr >
    <td>{{animaux.idAnim}}</td>
    <td>{{animaux.nomAnim}}</td>
    <td>{{animaux.espece}}</td>
    <td>{{animaux.dateNaissance | date:'dd/MM/yyyy'}}</td>
    <td>{{animaux.groupeanim.nomanim}}</td>
    
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
