<div class="container">
    <div>
        <h2>Ajouter un Animal :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Animal</label>
            <input type="text" [(ngModel)]="newAnimaux.idAnim" name="idAnimal" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Animal</label>
            <input type="text" [(ngModel)]="newAnimaux.nomAnim" name="nomAnimal" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Espece</label>
            <input type="text" [(ngModel)]="newAnimaux.espece" name="espece" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [(ngModel)]="newAnimaux.dateNaissance" name="dateNaissance" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idGrp" name="idGrp" [(ngModel)]="newIdGrp">
                <option *ngFor="let grp of groupeanim" [value]="grp.idGrp">
                    {{grp.nomGroupe}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addAnimaux()" class="btn btn-success">Ajouter</button>
        <div>
           &nbsp; <h3 style="font-family: Century Gothic, sans-serif; font-size: 18px;">{{ messag }}</h3>
        </div>
        
        </div>
    </form>
</div>

