<div class="container">
    <div>
        <h2>Ajouter un Animal :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Animal</label>
            <input type="text" [(ngModel)]="newAnimaux.idAnimal" name="idAnimal" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Animal</label>
            <input type="text" [(ngModel)]="newAnimaux.nomAnimal" name="nomAnimal" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Espece</label>
            <input type="text" [(ngModel)]="newAnimaux.espece" name="espece" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [(ngModel)]="newAnimaux.dateNaissance" name="dateNaissance" class="form-control">
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat"
            [(ngModel)]="groupeanim">
             <option *ngFor="let cat of groupeanim" [value]="cat.idanim" >
             {{cat.nomanim}}
            </option>
        </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addAnimaux()" class="btn btn-success">Ajouter</button>
        <div>
           &nbsp; <h3 style="font-family: Century Gothic, sans-serif; font-size: 18px;">{{ messag }}</h3>
        </div>
        
        </div>
    </form>
</div>

